body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

button{
    background-color: gold;
    color: blue;
    font-size: 200%;
    padding: 10px;
    box-shadow: 10px 10px 5px gray;
    border-radius: 10px;
    border: none;
}