body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 150%;
}

ul{
    list-style-type: none;
    background-color: gold;
}

li {
    display: inline;
    padding: 0 5px;
}

a{
    text-decoration: none;
    color: blue;
}

a:hover{
    background-color: blue;
    color: gold;
}