ul>li:nth-child(1){
    background-color: dimgray;
    color: lightgray;
}

ul>li:nth-child(2){
    background-color: black;
    color: lightgray;
}

ul>li:nth-child(4){
    background-color: lightgray;
}

ul>li:nth-child(5){
    background-color: dimgray;
    color: lightgray;
}

ul>li:nth-child(6){
    background-color: black;
    color: lightgray;
}
ul>li:nth-child(8){
    background-color: lightgray;
}

ul>li:nth-child(9){
    background-color: dimgray;
    color: lightgray;
}
ul>li:nth-child(10){
    background-color: black;
    color: lightgray;
}

ul>li:nth-child(12){
    background-color: lightgray;
}

ul>li:nth-child(13){
    background-color: dimgray;
    color: lightgray;
}

ul>li:nth-child(14){
    background-color: black;
    color: lightgray;
}